$mainBlue = rgba(13, 56, 128, 1)

$mainBackground = rgba(255, 255, 255, .9)

$mainGrey = rgba(0,0,0,.54)

$linkBg = rgba(0, 0, 0, .3)

$fontFamily = "Domine", sans-serif

$atSmall = 530px

$atMedium = 800px

$atLarge = 1010px

