$mainColor = #e00082

$mainText = rgba(23, 42, 58, .6);

$mainBackground = rgba(255, 255, 255, .9)

$mainGrey = rgba(0,0,0,.54)

$linkBg = rgba(0, 0, 0, .1)

$fontFamily = "Domine", sans-serif

$atSmall = 530px

$atMedium = 800px

$atLarge = 1010px

