@import '../base/_vender.module.styl'
@import '../base/_variables.module.styl'

.about__icon
  height: 6rem
  width: auto
  -border-radius: 50%
  display: inline-block

.about__heading
  display: inline-block
  margin-bottom: 0

.about__container
  display: flex
  align-items: center

.about__text_placeholder
  margin-left: 2rem

.about__excerpt
  color: $mainGrey
  font-size: .8rem
